
#headdiv{
    /* display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    min-width: 500px;

}

button{
    border-radius: 10px;
    padding: 5px;
    margin-left:7rem ;
    color: wheat;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 1rem;
    width: fit-content;
}
/* .buttondiv{
    position:absolute;
    align-items: center;
    justify-content: center;
    top: 104vh;
    left: 120vh;

} */

.mainformDiv{
    
 
    width: 25vw; 
    border: 1px solid black;
    height: fit-content;
    border-radius: 10px;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:pink;
    /* #faebd7; */
}

input, label, select{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 85%;
    
}

.bodyanimation{
    /* background-color: #4169e1; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(pink, #4169e1);
}

html, body {
    margin: 0;
    padding: 0;
    
}
#textanime2, #h1 {
    color: black;
}

div.bottomtext {
    float: right;
    margin-right: 2rem;

}


/* styles for mobile devices*/
@media (max-width:768px) {
    #headdiv{
        min-width: 310px;
    }
    button{
        position: relative;
        border-radius: 10px;
        padding: 5px;
        margin-left: 35%;
        color: wheat;
        background-color: blue;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    
    .mainformDiv{
        
        display: flex;
        flex-direction: column;
        width: 60vw;
        border: 1px solid black;
        height: fit-content;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        background:linear-gradient( #4169e1,pink);
        
        /* #faebd7; */
    }
    
    input, label, select{
        position: relative;
        display: block;
        margin-left: 10px;
        padding: 6px;
        /* margin-right: 10px; */
        margin-top: 5px;
        width: 85%;
        overflow:scroll;
        
        
    }
    
    .bodyanimation{
        /* background-color: #4169e1; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow-y: scroll;
        background:linear-gradient(pink, #4169e1);
    }
    
    html, body {
        margin: 0;
        padding: 0;
        
    }
    #textanime2, #h1 {
        color: black;
        margin-left: 1rem;
    }
    
    div.bottomtext {
        float: right;
        margin-right: 1rem;
    
    }

}

@media (min-width:769px) and (max-width:1024px){
    #headdiv{
        min-width: 507px;
        display: flex;
        flex-direction: column;
    }

    .mainformDiv{
        
        display: flex;
        flex-direction: column;
        width: 40vw;
        border: 1px solid black;
        height: fit-content;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        background:linear-gradient( #4169e1,pink);
        
        /* #faebd7; */
    }

    .bodyanimation{
        /* background-color: #4169e1; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        height: 100%;
        background:linear-gradient(pink, #4169e1);
    }

}




