form {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
#headdiv{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button{
    border-radius: 10px;
}
